# Android Studio / IntelliJ
*.iml
.idea/*
!.idea/codeStyles  # 可选，如果要共享代码风格

# Gradle
.gradle
/local.properties
/.gradle/
/build
/out
/captures
.externalNativeBuild
.cxx
.gradle/*
.gradleapp.setting
.gradle-wrapper.jar
.gradle-wrapper.properties
.gradle-task-name-cache

# Mac
.DS_Store

# Logs
*.log

# Keystore files
*.jks
*.keystore
keystore.properties

# Google services
google-services.json
GoogleService-Info.plist